:root {
    --color-blue: "#2400ff";
    --color-gray: "#c6c6c6";
    --color-dark: "#353535";
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    margin: 0;
    padding-top: 40px;
}
h1 {
    margin: 10px 0;
    font-size: 21px;
}

p {
    margin: 0;
}

/* Title */
.title-wrapper {
    text-align: center;
    margin: 0 0 40px;
}
.title-wrapper > h1 {
    color: blue;

    letter-spacing: 10px;
    text-transform: uppercase;
    margin: 0 0 10px;
}
.title-wrapper > p {
    /* color: var(--color-dark); */
    color: grey;
    margin: 0;
}
/* ---------------------- Home -------------------------- */
.search-input {
    display: block;
    font-family: "Roboto", sans-serif;
    width: 200px;
    margin: auto;
    outline: none;
    padding: 13px 15px;
    border: 1px solid #dbdbdb;
    box-shadow: 0px 0px 10px 0px rgba(219, 219, 219, 0.5);
    font-size: 14px;
    border-radius: 12px;
    color: #8d8d8d;
}
.placeholder {
    font-weight: 300;
    color: #8d8d8d;
}

/* Radio input wrapper */
.radio-input-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.radio-input-wrapper > div {
    margin: 0 15px;
}
/* search button */
.search-button-wrapper {
    text-align: center;
    margin-bottom: 35px;
}
.search-button-wrapper > button {
    color: #fff;
    background-color: blue;
    margin: auto;
    padding: 10px 50px;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 12px;
}

/* STAR ShowMainData component .star {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #d0c9ff;

    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
}
.star-active {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #ffc806;

    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
} */
