:root {
    --color-blue: "#2400ff";
    --color-gray: "#c6c6c6";
    --color-dark: "#353535";
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    margin: 0;
    padding-top: 40px;
}
h1 {
    margin: 10px 0;
    font-size: 21px;
}

p {
    margin: 0;
}
/* Navs */
.navs--list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
}
.navs--links {
    margin: 0 10px;
    padding: 3px 15px;
    position: relative;
    text-decoration: none;
    /* color: var(--color-gray); */
    color: grey;
}
.navs--links :active {
    /* color: var(--color-blue); */
    color: blue;
    margin: 0 10px;
    padding: 3px 15px;
    position: relative;
    text-decoration: none;
}
.navs--links ::after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    left: 0%;
    bottom: 0;
    /* background-color: var(--color-blue); */
    background-color: blue;
    animation: slide-in 0.3s ease-in forwards;
}
/* Title */
.title-wrapper {
    text-align: center;
    margin: 0 0 40px;
}
.title-wrapper > h1 {
    color: blue;

    letter-spacing: 10px;
    text-transform: uppercase;
    margin: 0 0 10px;
}
.title-wrapper > p {
    /* color: var(--color-dark); */
    color: grey;
    margin: 0;
}
/* ---------------------- Home -------------------------- */
.search-input {
    display: block;
    font-family: "Roboto", sans-serif;
    width: 200px;
    margin: auto;
    outline: none;
    padding: 13px 15px;
    border: 1px solid #dbdbdb;
    box-shadow: 0px 0px 10px 0px rgba(219, 219, 219, 0.5);
    font-size: 14px;
    border-radius: 12px;
    color: #8d8d8d;
}
.placeholder {
    font-weight: 300;
    color: #8d8d8d;
}

/* Radio input wrapper */
.radio-input-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.radio-input-wrapper > div {
    margin: 0 15px;
}
/* search button */
.search-button-wrapper {
    text-align: center;
    margin-bottom: 35px;
}
.search-button-wrapper > button {
    color: #fff;
    background-color: blue;
    margin: auto;
    padding: 10px 50px;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 12px;
}

/* STAR ShowMainData component */
.star {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #d0c9ff;

    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
}
.star-active {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #ffc806;

    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
}
/* ShowPage */
.show-page--wrapper {
    padding: 0 20px;
}
.show-page--info {
    margin-bottom: 40px;
}
.show-page--info > h2 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 22px;
}

/* ShowMainPage */
.show-main-data--wrapper {
    display: flex;
    margin-bottom: 40px;
}
.show-main-data--wrapper > img {
    min-width: 250px;
    width: 300px;
    max-height: 450px;
    border: 1px solid #ddd;
    border-radius: 40px;
}
.show-main-data--text {
    margin-left: 20px;
}
.show-main-data--summary {
    color: #5f5f5f;
    line-height: 1.5;
}
.show-main-data--head {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.show-main-data--head > h1 {
    margin: 0;
    border-right: 1px solid #ddd;
    padding-right: 25px;
    margin-right: 20px;
}
.show-main-data--head > h1 {
    display: flex;
    align-items: center;
}
.show-main-data--head > span {
    margin-left: 10px;
}
.show-main-data--tag-list {
    display: inline-flex;
    flex-wrap: wrap;
}
.show-main-data--tag-list > span {
    margin: 6px;
    margin-bottom: 0;
    color: blue;
    background-color: #d0c9ff;
    padding: 3px 13px;
    border-radius: 20px;
    font-size: 14px;
}

/* DetailsData */
.detail-data--wrapper-p {
    margin: 5px 0;
}
.detail-data--wrapper-s {
    font-weight: bold;
}
/* SeasonsData */
.seasons-data--wrapper > p {
    margin: 5px 0;
}
.seasons-data--wrapper > p > span {
    font-weight: 700;
}
.seasons-data--list {
    display: flex;
    flex-direction: column;
}
.seasons-data--item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.seasons-data--item:last-child {
    margin-bottom: 0;
}
.seasons-data--left {
    flex: 0 0 30%;
    border-right: 1px solid #b0b0b0;
    padding-right: 20px;
}
.seasons-data--right {
    padding-left: 20px;
    flex: 1;
}

/* CastData */
.cast-data--wrapper {
    display: flex;
    flex-wrap: wrap;
}
.cast-data--item {
    flex: 1 0 50%;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.cast-data--img-wrapper {
    width: 50px;
    min-width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}
.cast-data--img-wrapper > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.cast-data--actor {
    margin-left: 25px;
}

/* Cusstom radio button */
/* .custom-radio-btn {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 13px;
    user-select: none;
    font-weight: 700;
    line-height: 1.65;
} */
/* .custom-radio-btn--input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
} */
/* .custom-radio-btn--input:checked {
    background-color: #fff;
    border: 2px solid blue;
} */
