body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    margin: 0;
    padding-top: 40px;
}
h1 {
    margin: 10px 0;
    font-size: 21px;
}

p {
    margin: 0;
}

/* ActorGrid || ShowGrid */
.show-grid--flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* ShowCard */
.show-card--div {
    width: 300px;
    height: 100%;
    margin: 0 15px 40px;
}
.show-card--img-wrapper {
    width: 100%;
    border-radius: 40px;
    height: 420px;
    overflow: hidden;
    border: 1px solid #ddd;
}
.show-card--img-wrapper > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.show-card--div > h1 {
    margin: 10px 0;
    font-size: 21px;
}

.show-card--div > p {
    margin: 0;
}

/* Show Card components */
.showcard-btns--div {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.showcard-btns--div > a {
    text-decoration-color: #000;
    color: #000;
}
.showcard-btns--div > :hover {
    text-decoration-color: blue;
    color: blue;
}
button {
    outline: none;
    border: 1px solid #8e8e8e;
    border-radius: 15px;
    padding: 5px 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
button > :hover {
    cursor: pointer;
}

/* Actor Card */
/* .deathdayparagraph {
    margin: 0;
    margin-top: 15px;
    font-weight: bold;
} */

/* STAR ShowMainData component */
.star {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #d0c9ff;

    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
}
.star-active {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #ffc806;

    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
}
/* ShowPage */
.show-page--wrapper {
    padding: 0 20px;
}
.show-page--info {
    margin-bottom: 40px;
}
.show-page--info > h2 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 22px;
}
/* export const ShowPageWrapper = styled.div`
  padding: 0 20px;

  @media only screen and (min-width: 516px) {
    padding: 0 40px;
  }

  @media only screen and (min-width: 768px) {
    padding: 0 60px;
  }

  @media only screen and (min-width: 992px) {
    padding: 0 80px;
  }
`;

export const InfoBlock = styled.div`
  margin-bottom: 40px;
  h2 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 22px;
  }
`; */

/* ShowMainPage */
.show-main-data--wrapper {
    display: flex;
    margin-bottom: 40px;
}
.show-main-data--wrapper > img {
    min-width: 250px;
    width: 300px;
    max-height: 450px;
    border: 1px solid #ddd;
    border-radius: 40px;
}
.show-main-data--text {
    margin-left: 20px;
}
.show-main-data--summary {
    color: #5f5f5f;
    line-height: 1.5;
}
.show-main-data--head {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.show-main-data--head > h1 {
    margin: 0;
    border-right: 1px solid #ddd;
    padding-right: 25px;
    margin-right: 20px;
}
.show-main-data--head > h1 {
    display: flex;
    align-items: center;
}
.show-main-data--head > span {
    margin-left: 10px;
}
.show-main-data--tag-list {
    display: inline-flex;
    flex-wrap: wrap;
}
.show-main-data--tag-list > span {
    margin: 6px;
    margin-bottom: 0;
    color: blue;
    background-color: #d0c9ff;
    padding: 3px 13px;
    border-radius: 20px;
    font-size: 14px;
}

/* DetailsData */
.detail-data--wrapper-p {
    margin: 5px 0;
}
.detail-data--wrapper-s {
    font-weight: bold;
}
/* SeasonsData */
.seasons-data--wrapper > p {
    margin: 5px 0;
}
.seasons-data--wrapper > p > span {
    font-weight: 700;
}
.seasons-data--list {
    display: flex;
    flex-direction: column;
}
.seasons-data--item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.seasons-data--item:last-child {
    margin-bottom: 0;
}
.seasons-data--left {
    flex: 0 0 30%;
    border-right: 1px solid #b0b0b0;
    padding-right: 20px;
}
.seasons-data--right {
    padding-left: 20px;
    flex: 1;
}

/* CastData */
.cast-data--wrapper {
    display: flex;
    flex-wrap: wrap;
}
.cast-data--item {
    flex: 1 0 50%;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.cast-data--img-wrapper {
    width: 50px;
    min-width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}
.cast-data--img-wrapper > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.cast-data--actor {
    margin-left: 25px;
}
